.header {
  background: #111111;
  padding-top: 16px;
  padding-bottom: 16px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: none;
  }

  &__logo {
    width: 119px;
    z-index: 999;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    display: none;
  }

  &__phone.btn {
    display: none;
  }
}

.logo {
  height: auto;
  object-fit: cover;
}

.menu {
  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {}

  &__link {
    text-transform: uppercase;
  }
}

// Burger
.header__burger {
  display: none;
  background-color: inherit;

  @include media-mx(992) {
    display: block;
    z-index: 999;
    position: relative;
    width: rem(28);
    height: rem(14);
    cursor: pointer;



    span,
    &::before,
    &::after {
      content: '';
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #A0A0A0;
    }

    span {
      top: calc(50% - 1px);
      width: 23px;

    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        width: 15px;
        transform: rotate(-45deg);
      }

      &::after {
        width: 15px;
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

.mobile-menu {
  min-height: 100lvh;
  position: fixed;
  width: 100%;
  padding: 87px 0 40px;
  inset: 0;
  background: #111111;
  z-index: 99;
  transform: translateX(-101%);
  transition: all 0.3s ease-in-out;

  .menu-open & {
    transform: none;
  }

  .menu__list {
    flex-direction: column;
  }

  .accordion-item,
  .menu__link {
    color: #737373;
    font-size: 16px;
    font-weight: 500;
    display: block;
    height: fit-content;
    line-height: 1;
  }

  .mobile-menu__contacts {
    gap: 16px;
  }

  .mobile-menu__email {
    line-height: 1.4;
  }

  &__close {
    position: absolute;
    top: 27px;
    right: 27px;
  }

  &__container {
    gap: 40px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__email {
    color: #ffffff80;
  }

  &__address {
    color: #ffffff80;
  }
}

.menu__item {
  cursor: pointer;
}

.dropdown-toggle {
  position: relative;
  padding: 10px 0;
  padding-right: 14px;

  &::after {
    position: absolute;
    content: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.52428 5.27131L0.752948 1.49998L1.69561 0.557312L4.99562 3.85731L8.29561 0.557312L9.23828 1.49998L5.46695 5.27131C5.34193 5.39629 5.17239 5.4665 4.99562 5.4665C4.81884 5.4665 4.6493 5.39629 4.52428 5.27131Z" fill="%23707070"/></svg>');
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
  }
}

.dropdown-menu {
  position: absolute;
  top: 20px;
  left: 0;
  background: #242424;
  border-radius: 20px;
  padding: 16px;
  list-style: none;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.dropdown:hover .dropdown-toggle::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  display: block;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  opacity: .8;
}