.hero {
  padding-top: 26px;
  padding-bottom: 16px;
  position: relative;
  background: inherit;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }


  &__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 282px;
  }

  &__container {
    min-height: calc(100svh - 102px);
  }

  &__date {
    color: #839D9B;
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .btn {

    min-width: 188px;
  }


  &__anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
  }
}

.text-small {
  font-size: 12px;
  line-height: 1.2;
}

h1 {
  font-size: 32px;
  line-height: 0.9;

}

.btn {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  width: fit-content;
  line-height: 1;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  padding: 16px 20px;
  position: relative;
  background-color: inherit;
  overflow: hidden;
  border: 1px solid #BABABA;
  color: #FFFFFFCC;
  border-radius: 50px;
  transition-property: all !important;
  transition: all .3s ease-in-out;

  &:hover {
    color: #161616;
    background-color: #FFFFFFCC;
  }
}

.btn-white {
  background-color: #CACACA;
  color: #000;

  &:hover {
    color: #CACACA;
    background: #5454541F;
    backdrop-filter: blur(74px);
  }
}

h2 {
  font-size: 30px;
  line-height: 1.1;
  color: #B7B7B7;
}

.types {
  padding-top: 40px;

  &__container {
    gap: 40px;
  }

  &__headline {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__card {
    position: relative;
  }

  &__img {
    border-radius: 30px;
    width: 100%;
    height: 264px;

    object-fit: cover;
    object-position: center;
  }

  &__text {
    margin-top: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    color: #B7B7B7;
  }

  &__number {
    color: #585858;
  }

  &__square {
    background-color: #000000;
    border-radius: 4px;
    padding: 8px;
    top: 14px;
    left: 14px;
    position: absolute;
    z-index: 2;
    font-size: 8px;

    span {
      color: #B7B7B7;
      text-transform: uppercase;
    }
  }
}

.about {
  padding-top: 40px;

  &__img {
    display: none;
  }

  &__container {}

  &__headline {}

  &__desc {
    color: #B7B7B7;
    margin-top: 20px;
    line-height: 1.2;
  }

  &__cards {
    margin: 30px 0;
    display: flex;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  &__card {
    width: 100%;
    border-radius: 30px;
    background-color: #212121;
    font-size: 10px;
    line-height: 7px;
    font-weight: 500;
    color: #6E6E6E;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      color: #BCBCBC;
      display: block;
      margin: 20px 0;
      font-size: 34px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}


.portfolio {
  padding: 40px 0;

  &__container {
    gap: 40px;
  }

  &__headline {}

  &__slider {}

  &__img {
    height: 320px;
    width: 100%;
    object-position: center 70%;
    object-fit: cover;
    border-radius: 30px;

  }

}

.splide__arrows {
  position: absolute;
  top: 50%;
  z-index: 2;

  padding: 0 16px;
  width: 100%;
  transform: translateY(-50%);
  justify-content: space-between;
}

.splide__arrow {
  // padding: 18px 20px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  backdrop-filter: blur(24px);
  line-height: 1;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #FFFFFF14;
    z-index: -1;
  }
}

.way {
  &__container {}

  &__top {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background-image: url(../images/way.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 -16px;
    height: 332px;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.41%, rgba(0, 0, 0, 0.9) 100%);
    }

    * {
      z-index: 2;
      position: relative;
    }
  }


  &__bottom {
    padding: 20px 0 40px;
  }

  &__cards {
    margin-top: 30px;
  }

  &__card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 0px 110px 0px #00000099;
    border: 1px solid #262626;
    background-color: #161616;
    border-radius: 30px;

    &:last-child {
      z-index: 2;
      position: relative;
      margin-top: 16px;
      // transform: translateY(-100px);
    }
  }

  &__card-number {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
  }

  &__card-title {
    font-size: 20px;
    color: #CCCCCC;
    font-weight: 500;
    line-height: 1.2;
  }

  &__card-desc {
    color: #8A8A8A;
    line-height: 1.4;
  }
}

h3 {
  font-size: 24px;
  line-height: 0.9;
  color: #BEBEBE;
}

.map {
  position: relative;

  &__icon {
    width: 100%;
    margin-top: -200px;
    position: absolute;
    inset: 0;
    z-index: 0;

    &--desktop {
      display: none;
    }
  }

  &__bottom {
    margin-top: 420px;
  }

  &__img {
    display: none;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }


  &__desc {
    color: #B8B8B8;
  }

}

.big-cards {
  padding: 40px 0 0;

  &__container {
    gap: 20px;
  }

  &__item {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    height: 264px;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.41%, rgba(0, 0, 0, 0.9) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    z-index: -2;
  }

  &__title {}

  &__desc {
    color: #C4C1C0;
  }

  &__btn {
    background: #5454541F;
    backdrop-filter: blur(74px);
    padding: 14px 20px;
  }
}

.contact-block {
  padding: 40px 0 16px;

  &__inner {
    background-color: #161616;
    border-radius: 30px;
    padding: 24px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__headline {}

  &__subtitle {
    color: #8A8A8A;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__input {}

  &__btn {}

  &__text {
    line-height: 1.4;
    color: #8A8A8A;
  }

  &__link {
    text-decoration: underline;

  }

  &__video-block {
    margin-top: 40px;
  }


}

.video-block {
  border-radius: 24px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 38.41%, rgba(0, 0, 0, 0.9) 100%);

  &__player {}

  &__play-btn {}

  &__play-icon {}

}

select,
input[type='text'] {
  border-bottom: 1px solid #7C7C7C80;
  background-color: inherit;
  color: #8A8A8A;

  padding: 10px 16px 18px;
  font-size: 12px;
  line-height: 8px;

}

.splide {
  &__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__arrow {
    background-color: inherit;
  }

  &__arrow--prev {}

  &__arrow--next {}

  &__track {}

  &__list {}

  &__slide {}

  &__slide__container {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

.video-block {
  position: relative;
  max-width: 625px;
  overflow: hidden;

  &__player {
    width: 100%;
    display: block;
    cursor: pointer;
    height: 374px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 38.41%, rgba(0, 0, 0, 0.9) 100%);

  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__play-icon {
    color: #000;
  }
}



.contacts__map-block {
  height: 472px;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/map.png);
    background-position: 55%;
    background-size: cover;
    filter: grayscale(100%);

    z-index: -2;
  }
}

.contacts__map-icon {}

.contacts__btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  width: max-content;
}

video {
  object-fit: cover;
}

.socials__item,
.menu__link {
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.preloader-container {
  position: fixed;
  z-index: 9999;
  inset: 0;
  height: 100dvh;
  display: inline-block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  transition: transform 0.5s ease-in-out;

  &.close {
    transform: translateY(-150%);
  }
}

.logo-img {
  display: block;
  transition: filter 0.3s;
  animation: pulsar 2.5s ease-in-out infinite;
}

.preloader-mask {
  mix-blend-mode: overlay;

  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 10000;
  // background: rgba(255, 255, 255, 0.3);
  backdrop-filter: grayscale(100%) blur(0px);
  animation: slide 2s ease-in-out infinite;
  // transform: skewX(-15deg);
}

@keyframes pulsar {
  0% {
    scale: 100%;
  }

  50% {
    scale: 105%;
  }

  100% {
    scale: 100%;
  }
}

@keyframes slide {
  0% {
    left: 20%;
  }

  100% {
    left: 80%;
  }
}

.form__input--phone {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding-left: 42px;
  }

  &::before {
    content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 11.9999C16 12.4714 15.8127 12.9236 15.4793 13.257C15.1459 13.5904 14.6937 13.7777 14.2222 13.7777H1.77778C1.30628 13.7777 0.854097 13.5904 0.520699 13.257C0.187301 12.9236 0 12.4714 0 11.9999V10.2222H16V11.9999Z" fill="%23CE2028"/><path d="M0 5.77783H16V10.2223H0V5.77783Z" fill="%2322408C"/><path d="M14.2222 2.22217H1.77778C1.30628 2.22217 0.854097 2.40947 0.520699 2.74287C0.187301 3.07626 0 3.52845 0 3.99995L0 5.77772H16V3.99995C16 3.52845 15.8127 3.07626 15.4793 2.74287C15.1459 2.40947 14.6937 2.22217 14.2222 2.22217Z" fill="%23EEEEEE"/></svg>');
    position: absolute;
    top: 12px;
    left: 16px;
  }
}

.header {
  background-color: #242424;
}

.page-header {
  background-color: #242424;
  padding-bottom: 24px;
  padding-top: 18px;

  &__container {
    gap: 32px;
  }

  &__headline {
    color: #D3D3D3;
  }

  &__subtitle {
    color: #BDBDBD;
  }

}


.big-video {
  margin: 40px 0;

  &__container {
    gap: 40px;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
  }

  &__video-block {
    border-radius: 30px;
  }

}

.step-block {
  padding-bottom: 80px;

  &__container {
    gap: 24px;
  }

  &__headline {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card {
    color: #B7B7B7;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__number {
    color: #585858;
    font-size: 14px;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
  }

  &__desc {}
}

.filter-item {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}

.filter-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-text {
  padding: 20px 16px;
  min-width: 160px;
  border-radius: 25px;
  background: #575757;
  color: #BBBBBB;
  font-weight: 500;
  font-size: 10px;
  line-height: 7px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
}

.filter-input:checked+.filter-text {
  background: #BDBDBD;
  color: #000;
}

.filter-text:hover {
  opacity: .8;
}

.page-header {
  &__container {
    position: relative;
  }

  &__headline {
    position: relative;
    z-index: 999;
  }

  &__filters {}
}



.icon--close {
  display: none;
}

.filters {
  position:
    absolute;
  top: 0;
  left: 0;
  right: 0;

  &.open {
    .icon--close {
      display: block;
    }

    .icon--filter {
      display: none;
    }

    .filters__content {
      transform: none;
    }
  }

}

.filters__icon {
  position: absolute;
  z-index: 999;
  right: 18px;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 4px;
}

.filters__content {
  position: absolute;
  padding: 54px 16px 24px;
  background-color: #242424;
  transform: translateX(-101%);
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 16px;
  transition: all .3s ease-in-out;
}

.filters__list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  &:last-child {
    grid-area: 2 / 1 / 3 / 3;

    .filter-text {
      width: 100%;
    }
  }
}

.filters__text {
  color: #BDBDBD;
}

.products {
  padding: 40px 0 7px;

  &__container {
    gap: 24px;
  }

  &__headline {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

}

.product-card {
  color: #B7B7B7;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__img {
    border-radius: 30px;
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &__top {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
    line-height: 14px;
    padding: 13px 22px;
    background: #FFFFFF1F;
    color: #C0C0C0;
    border-radius: 50px;
    height: fit-content;
    white-space: nowrap;
  }

  &__text {
    line-height: 8px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &___btn {}

}


.btn-black.btn {
  background-color: #111;
  backdrop-filter: initial;

  &:hover {
    background-color: #CACACA;
    opacity: .8;
  }
}

.contacts {
  padding: 40px 0;

  &__container {
    gap: 40px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__mail,
  &__phone {
    font-family: Jost;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #B7B7B7;
  }

  &__text {
    color: #888888;
  }



  &__right {
    position: relative;
  }

  &__map-icon {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    border-radius: 30px;
    width: 100%;
    height: 289px;
    object-fit: cover;
  }
}