@media (min-width: 768px) {
  .map__icon {
    margin-top: 0;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }


  .hero__top {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .header {
    position: relative;
    padding: 12px 0;

    &__container {
      justify-content: flex-start;
      gap: 24px;
    }

    &__menu {
      display: flex;
    }

    &__phone.btn {
      display: block;
      margin-left: auto;
      background-color: #5454541F;
      backdrop-filter: blur(74px);
      background: #5454541F;
      padding: 12px 26px;

      &:hover {
        background: #CACACA;
        color: #000;
      }
    }

  }

  .hero {
    padding: 60px 0;
    border-radius: 24px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero__top {
    max-width: 440px;
    gap: 40px;
  }

  .btn {
    backdrop-filter: blur(74px);
    background: #5454541F;

  }



  .types {
    padding: 80px 0;

    &__list {
      display: grid;
      grid-template-columns: 270px auto 244px 244px;
      gap: 111px 55px;
    }

    &__card {
      align-self: flex-end;

      &:nth-child(2) {
        grid-area: 1 / 3 / 2 / 5;
        width: 355px;
        justify-self: flex-end;
        margin-bottom: -150px;

        .types__img {
          height: 430px;
        }
      }

      &:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: flex-end;

        .types__img {
          height: 458px;
        }
      }

      &:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4;

        .types__img {
          height: 243px;
        }
      }

      &:nth-child(5) {
        grid-area: 2 / 4 / 3 / 5;

        .types__img {
          height: 243px;
        }
      }
    }
  }

  .btn-white {
    background: #CACACA;
  }

  .types__text {
    margin-top: 24px;
    height: 11px;
  }

  .hero__buttons {
    flex-direction: row;
  }

  .hero__container {
    justify-content: flex-end;
    min-height: 540px;
  }

  .hero__bottom {
    margin-top: 100px;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 48px;
    line-height: 34px;
  }

  .menu__item {
    position: relative;
  }

  .about {
    padding: 0;

    &__container {
      position: relative;
    }

    &__cards {
      margin-top: 0;
      margin-bottom: 59px;
      max-width: 436px;
    }

    &__img {
      display: block;
      width: 172px;
      height: 235px;
      border-radius: 30px;
      right: 16px;
      bottom: 0;
      position: absolute;
    }

    &__card {
      span {
        font-size: 48px;
        line-height: 34px;

      }
    }

    &__desc {
      margin: 80px 0;
      font-size: 30px;
      line-height: 1;
    }

    &__headline {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 10px;
      color: #888888;
    }
  }

  .portfolio {
    margin: 0;
    padding: 80px 0 102px;

    &__container {
      align-items: center;
      width: 100%;
    }

    &__slider {
      width: 100%;
    }

    &__img {
      height: 510px;
    }
  }

  .menu__item a,

  .menu__item {
    color: #707070;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 7px;
    font-weight: 500;
  }

  .way {
    padding-bottom: 80px;

    &__container {
      flex-direction: row;
      gap: 20px;
    }

    &__cards {
      margin-top: 40px;
    }

    &__card {
      padding: 60px;
    }

    &__top {
      border-radius: 30px;
      width: 540px;
      margin: 0;
      height: 469px;
      padding: 60px;

      .way__headline {
        font-size: 30px;
      }
    }

    &__card-desc {
      line-height: 1.45;
    }

    &__bottom {
      max-width: 540px;
      padding: 0;

      .way__headline {
        font-size: 44px;
        line-height: 0.9;
      }
    }
  }

  .map {
    padding: 80px 0;

    &__container {
      position: relative;

      &::after {
        // content: '';
        left: -50px;
        height: 200px;
        width: 100px;
        top: 0;
        position: absolute;
        backdrop-filter: blur(2px);
        // filter: blur(10px);
        z-index: -1;
      }

      &::before {
        // content: '';
        right: -50px;
        height: 100%;
        width: 100px;
        top: 0;
        position: absolute;
        backdrop-filter: blur(6px);
        // filter: blur(10px);
        z-index: -1;
      }
    }


    &__img {
      display: block;
      position: absolute;
      width: 237px;
      height: 236px;
      right: 0;
      bottom: 0;
      overflow: hidden;
      border-radius: 30px;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }

      &::after {
        content: '';
        inset: 0;
        position: absolute;
        background: #00000033;
        width: 100%;
        height: 100%;
        z-index: 22;
      }
    }

    &__icon {
      max-width: 1200px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -2;
    }
  }

  .big-cards {
    &__container {
      flex-direction: row;
    }

    &__item {
      padding: 60px;
      padding-right: 140px;
      height: 458px;
      gap: 32px;
    }
  }

  .contact-block {
    &__inner {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
    }

    &__top {
      gap: 30px;
    }

    &__form {
      gap: 30px;
    }

    &__inner {
      padding: 60px;
    }

    &__video-block {
      width: 100%;
      margin-top: 0;
    }

    &__headline {
      color: #ccc;
      font-size: 24px;
    }
  }

  .map__text-block {
    max-width: 446px;
  }

  h3 {
    font-size: 30px;
  }

  .contact-block__container,
  .big-cards__container,
  .way__container,
  .portfolio__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }

  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 12px;
  }

  .contact-block {
    padding: 20px 0;
  }

  .footer__right {
    // min-width: 530px;
    width: 530px;
    flex-direction: row;
    gap: 65px;
    // max-width: 530px;
  }

  .footer {
    padding: 80px 0;

    .menu__list {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 24px 65px;
    }

    .accordion-item,
    .menu__link {
      letter-spacing: 0.6px;
    }

    .accordion {
      grid-area: 1 / 2 / 6 / 3;

    }

    .accordion-menu {
      max-height: none;
      padding-top: 0;
    }

    .accordion-toggle.menu__link {
      display: none;
    }
  }

  .page-header {
    padding-bottom: 46px;
  }

  .page-header__subtitle {
    max-width: 350px;
  }

  .big-video {
    margin: 80px 0;

    &__container {
      align-items: center;
    }

    &__title {
      max-width: 786px;
      font-size: 30px;
      line-height: 28px;
      text-align: center;
    }

    &__video-block {
      width: 100%;
      max-width: none;

      .video-block__player {
        height: 400px;
      }
    }
  }

  .step-block {
    padding-bottom: 40px;

    &__container {
      gap: 40px;
    }

    &__list {
      gap: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .products {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .filters__icon {
    display: none;
  }

  .filters {
    position: static;
  }

  .filters__content {
    transform: none;
    position: static;
    display: flex;
    gap: 32px;
    padding: 0;
  }

  .products__container {
    gap: 40px;
  }

  .contacts__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts {
    padding: 80px 0;
  }

  .contacts__mail {
    color: #fff;
    font-weight: 400;
    line-height: 34px;

  }

  .contacts__phone {
    font-weight: 400;
    font-size: 36px;

    line-height: 52px;
    color: #fff;
  }

  .contacts__right {
    max-width: 590px;
    width: 100%;

  }

  .contacts__left {
    width: 100%;
    max-width: 293px;
  }
}

@media (min-width: 1100px) {

  .products__list {
    grid-template-columns: 1fr 1fr 1fr;


  }

  .types {
    &__list {
      grid-template-columns: 355px auto 244px 244px;
    }
  }
}

@media (min-width: 1440px) {}